<div class="h-100 container py-4">
  <div class="mat-elevation-z2 w-100">
    <mat-table [dataSource]="dataSource">
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="position"> {{element.position}} </mat-cell>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="name"> {{element.name}} </mat-cell>
      </ng-container>
      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="weight"> {{element.weight}} </mat-cell>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="symbol"> {{element.symbol}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef>
          <button mat-raised-button color="primary">Add New</button>
        </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="action">
          <mat-icon>edit</mat-icon>
          <mat-icon>delete</mat-icon>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>
