<h2 mat-dialog-title>{{ data.type }}</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Age</mat-label>
      <input type="number" matInput formControlName="age" />
    </mat-form-field>
    <div class="mb-3">
      <label class="me-3">Gender:</label>
      <mat-radio-group formControlName="gender">
        <mat-radio-button class="me-3" value="Male">Male</mat-radio-button>
        <mat-radio-button value="Female">Female</mat-radio-button>
      </mat-radio-group>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Phone</mat-label>
      <input type="tel" matInput formControlName="phone" />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close="false">Cancel</button>
  <button mat-button color="primary" (click)="action()">{{ data.type.split(' ')[0] }}</button>
</mat-dialog-actions>
