<div class="h-100 d-flex justify-content-center align-items-center">
  <form class="d-flex flex-column login-form p-5" autocomplete="off">
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input type="password" matInput />
    </mat-form-field>
    <button type="submit" mat-flat-button color="primary" class="login-btn w-100">Login</button>
  </form>
</div>
