<div class="h-100 d-flex justify-content-center align-items-center">
  <div class="d-flex flex-column login-form p-5">
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput [(ngModel)]="form.username" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input type="password" matInput [(ngModel)]="form.password" />
    </mat-form-field>
    <button mat-flat-button color="primary" class="login-btn w-100" (click)="login()" [disabled]="!form.password && !form.username">Login</button>
  </div>
</div>
